.speech-bubble {
  position: relative;
  width: 200px;
  padding: 20px;
  background-color: rgba(102, 102, 102, 0.7);
  border-radius: 2cap;
  color: #fff;
}

.speech-bubble.left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  border-right: 16px solid rgba(102, 102, 102, 0.7);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: translateY(-50%);
}

.speech-bubble.right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -16px;
  border-left: 16px solid rgba(102, 102, 102, 0.7);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: translateY(-50%);
}

.speech-bubble.top::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  border-bottom: 8px solid rgba(102, 102, 102, 0.7);
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  transform: translateX(-50%);
}

.speech-bubble.bottom::after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -8px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 8px solid rgba(102, 102, 102, 0.7);
}
